[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "propertee"]
	path = propertee
	url = https://github.com/benbhansen-stats/propertee
